<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
     
    <bean id="operations"    class="com.howtodoinjava.core.demo.beans.Operations"></bean>
    <bean id="employee"  class="com.howtodoinjava.core.demo.beans.Employee"></bean>
    <bean id="department"    class="com.howtodoinjava.core.demo.beans.Department"></bean>
     
</beans>